.template_section{
    padding-top: 7px;
    padding-bottom: 20px;
    background-color: #f4f4f9;
}

.template_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*width: 100%;
    padding: 20px;*/
    margin-left: 180px;
    margin-right: 180px;
    justify-content: space-between;
   /* background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.template_right{
    display: flex;
}

.gallery_button{
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    background-color: transparent;
}

.template_body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 160px;
    margin-right: 160px;
}

.card{
    margin-left: 20px;
    margin-top: 15px;
}

.card_image{
    box-sizing: border-box;
    width: 140px;
    height: 120px;
    cursor: pointer;
    border-radius: 2px;
    border: 0.2px solid #FFFDF7;
}

.card_image:hover{
    border: 1px solid #6E2594;
}

.card_title{
    font-size: 14px;
    font-weight: 500;
    color: #202124;
    margin-top: 2px;
}